extends layout

block content
  #game-title.text-center
    h1 Electric or Not?
  #image-container.text-center
    - var imgSource = '/images/' + imageToRender;
    img(src=imgSource)
  .button-holder
    .button-form.btn-group
      form.vote-button.btn-group(action='/electric', method='post')
        input.btn.btn-info(type='submit', name='submit', value='Electric!')
        input.btn.btn-info(type='hidden', name='image', value=imageToRender)
      .btn Which Is It?
      form.vote-button.btn-group(action='/electric', method='post')
        input.btn.btn-info(type='hidden', name='image', value=imageToRender)
        input.btn.btn-info(type='submit', name='submit', value='Poser!')