/* line 1, ../../compass/sass/style.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 4, ../../compass/sass/style.scss */
body a {
  color: #00B7FF;
}
